// Fonts & Font colors
$ff-alexa: 'Roboto', sans-serif;
$font-c-d: #232323;
$font-c-l: #fff;
$font-c-m: rgb(67, 66, 66);
$font-c-g: rgb(0, 167, 36);

//Background
$first-color: rgba(52, 129, 58, 1);
$second-color: rgba(238, 206, 165, 0.6);
$bgc-light-gray: #cdcdcd;
$bgc-dark-gray: #232323;
$bgc-l-white: #eee;
$bgc-fc-t: rgba(52, 129, 58, 0.6);
$where-is-nemo: #595958;

