@import "variables";
// importing from _variables.scss the following 
// $ff-alexa: 'Roboto', sans-serif;
// $font-c-d: #232323;
// $font-c-l: #fff;
// $font-c-m: rgb(67, 66, 66);
// $font-c-g: rgb(0, 167, 36);
// $first-color: rgba(52, 129, 58, 1);
// $second-color: rgba(238, 206, 165, 0.6);
// $bgc-light-gray: #cdcdcd;
// $bgc-dark-gray: #232323;
// $bgc-l-white: #eee;
// $bgc-fc-t: rgba(52, 129, 58, 0.6);
// $where-is-nemo: #595958;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $ff-alexa;
}

html {
  scroll-behavior: smooth;
}

body {

  // ---- PRODUCTS PAGE ----
  // Entire page display:flex
  h2 {
    text-align: center;
    color: $first-color;
    margin-bottom: 2rem;
  }

  //Steps 1 and 2 container (display: flex) to apear next to each other (justify-content: center) to center them 
  section.steps_container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    // used (border-radius) to give the box a corved corners
    .step {
      border: 1px solid $first-color;
      border-radius: 5px;
      width: 20vw;
      height: auto;
      text-align: center;
      margin: 0 4rem;

      h3 {
        background-color: $first-color;
        color: $bgc-l-white;
      }

      p {
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }
    }
  }

  // Graphic container
  // One Div for each element in the graphic
  // Made of 2 img and 3 rounded Divs
  div.graphic {
    margin: 2rem 0 3rem;

    div.graphic_container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      &>* {
        width: 23%;
        text-align: center;
        font-weight: bolder;
        margin: 0 0.3rem;
      }

      img {
        width: 100%;
      }

      .investment {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .green_ball {
        width: 18%;
        background-color: $first-color;
        color: $font-c-l;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  // Products container
  // 3 Products- 3 Columns
  // Each column-container made of 2 Divs (title and description) 
  section.offering {
    background-color: $bgc-l-white;
    padding-top: 2rem;

    h3 {
      color: $first-color;
      text-align: center;
      margin-bottom: 1rem;
    }

    // offering_container have (justify-content: space-evenly) to creat an even soace between divs
    .offering_container {
      display: flex;
      justify-content: space-evenly;
      padding: 1rem 2rem;

      .products {
        margin-bottom: 30vh;
        width: 25vw;

        // flex-direction: column to change the flex direction
        .product_title {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 15%;
          background-color: $first-color;
          color: $font-c-l;
          text-align: center;
          margin-bottom: 0.5rem;
        }

        .product_descrip {
          display: block;
          border: 1px solid $first-color;
          padding: 0.3rem;
          background-color: $bgc-l-white;
          height: 100%;

          p {
            text-align: justify;
            letter-spacing: 0.15rem;
            line-height: 1.1rem;
            margin-bottom: 1rem;

            a {
              text-decoration: none;
              color: $first-color;
            }
          }

          p.bold {
            font-weight: bolder;
          }
        }
      }
    }
  }

  // ---- GLOSARRY & LINKS PAGE ----

  // GLOSARRY SECTION
  // One Container, 2 Columns displayed flex 
  // One div for each item on the list
  section.glossary {
    width: 76vw;
    margin: 0 auto;
    border-bottom: 1px solid $first-color;

    h2 {
      text-align: left;
      margin-left: 0;
    }

    .glossary_container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      .glossary_list {
        width: 47%;

        .gloss_item {
          margin-bottom: 1rem;
          text-align: justify;
        }
      }
    }
  }

  // LINKS SECTION
  // One Container, 2 Columns displayed flex 
  // One Div with a "p" and "a" for each item in the list
  section.links {
    width: 76vw;
    margin: 0 auto;
    padding-bottom: 1rem;

    .links_container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      .links_list {
        width: 47%;

        h3 {
          color: $first-color;
          text-align: left;
          margin-top: 1rem;
        }

        .links_item {
          font-size: 1.1rem;

          p {
            text-align: justify;
            line-height: 0.9rem;
            margin: 1rem 0;
          }

          a {
            cursor: pointer;
            background-color: $first-color;
            text-decoration: none;
            color: $font-c-l;
            word-wrap: break-word;
            padding: 0.4rem 0.7rem;
          }
        }
      }
    }
  }

  // HEADER and NAV

  // I created section with 100% visual height (vh), to cover visual start section with background-image. Background is set on cover, to cover all background with picture.
  // I created a nav-bar inside header section and I gave position fixed, so menu will be moving with browser, and be always visable.
  // I used blur value, to make background blurred, so menu is better visable (thing that I did learn by doing this project).
  header.header {
    height: 100vh;
    background-image: url("https://www.bond-central.com/sites/default/files/bg.jpg");
    background-size: cover;

    .nav-bar {
      position: fixed;
      box-sizing: border-box;
      font-size: 0;
      padding: 1%;
      z-index: 50;
      background-color: $second-color;
      backdrop-filter: blur(6px);

      // I created a Hamburger Menu (position: fixed) to keep it showing on scrolling (z-index) to specify layers and what layer go on top of other layers 
      #menuToggle {
        display: block;
        position: fixed;
        width: 100vw;
        top: 25px;
        left: 25px;
        z-index: 1;

        a {
          text-decoration: none;
          color: $font-c-d;
          transition: color 0.3s ease;

          &:hover {
            color: $first-color;
            text-decoration: underline;
          }
        }
      }

      // input (position: absolute) to keep it place no matter what change in the style and (opacity)to hide or show on click
      #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: 91vw;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
      }

      // span position relative to the parent element and transform to rotate the span elemnt  and transition to have animetion effect using more specific speed (ease) and shape (cubic-bezier) that represent finall speed and state (0.77, 0.2, 0.05, 1)
      #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        left: 91vw;
        margin-bottom: 5px;
        position: relative;

        background: $bgc-dark-gray;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      }

      #menuToggle span:first-child {
        transform-origin: 0% 0%;
      }

      #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }

      #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: $bgc-dark-gray;
      }

      #menuToggle // onclick to start the transformation of the span elements and show the drop down menu after clicking on hamburger menu 

      input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      #menu {
        position: fixed;
        width: 100vw;
        margin: -50px -300px 0 -25px;
        padding: 50px;
        padding-top: 125px;
        background-color: $second-color;
        backdrop-filter: blur(6px);
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: translate(0, -125%);
        transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
      }

      #menu li {
        text-align: center;
        padding: 15px 0;
        font-size: 30px;
      }

      #menuToggle input:checked~ul {
        transform: none;
      }

      // I styled the logo - image is inside a href, so its full clickable and its acting like a button. It takes us to start site.
      // I gave 20% of browser to logo section and 80% to buttons section. It has 100%. 
      //I decided to use float: left - it's the easiest and practical solution to put section with logo to left side of my nav-bar section.
      main {
        background-color: $font-c-l;
        padding-top: 2rem;
      }

      .logo {
        width: 20%;
        display: inline-block;
        float: left;

        a {
          display: block;
          box-sizing: border-box;
          width: auto;

          img {
            width: 100%;
          }
        }
      }

      // I decided to use float: left - it's the easiest and practical solution to put section with buttons to section with logo.
      // I removed original style of list, to remove dots.
      // I styled <a> that it will have form of button.
      .buttons {
        width: 80%;
        display: inline-block;
        float: left;
        text-align: right;
        box-sizing: border-box;

        ul {
          list-style: none;

          li {
            display: inline-block;
            box-sizing: border-box;
            padding: 2%;

            a {
              display: block;
              font-size: 1rem;
              text-align: center;
              text-transform: uppercase;
              text-decoration: none;
              color: $font-c-m;

              img {
                width: 33%;
              }
            }
          }
        }
      }
    }

    // I cleared float by using clear:both. Original it was div with class .clearfix { content:""; display: block; clear: both; } (it creates empty block section) but it caused problems in mobile version. We decided to get rid of float in easiest way as possible then.
    // I gave position: absolute to glue element to parent header. I made transparent in rgba, so it will look nicer.
    // I pushed section to the bottom of header to make page visual better.
    // I styled text to put it on the middle of section. I also used uppercase in span, to capitalize chosen letters.
    .cementary {
      clear: both;
      width: 100%;
      background-color: $bgc-fc-t;
      position: absolute;
      bottom: 0;
      text-align: center;
      box-sizing: border-box;
      padding: 3% 20% 5% 20%;

      p {
        font-family: $ff-alexa;
        color: $font-c-l;

        span {
          text-transform: uppercase;
        }

        &:first-child {
          font-size: 3rem;
          border-bottom: 2px solid $font-c-l;
        }
      }
    }

    .cementary_2 {
      clear: both;
      width: 100%;
      background-color: $bgc-fc-t;
      position: absolute;
      bottom: 0;
      text-align: center;
      box-sizing: border-box;
      padding: 3% 20% 5% 20%;

      p {
        font-family: $ff-alexa;
        color: $font-c-l;

        span {
          text-transform: uppercase;
        }

        &:first-child {
          font-size: 3rem;
          border-bottom: 2px solid $font-c-l;
        }
      }
    }
  }

  // In section graveyard I did use animation from outside source https://codepen.io/vasylenkoval/pen/PxoVXr . 
  // Animated section is created only for laptop. On other devices its static. Section has a similar parameters to graveyard class.
  // Every quote was closed in span with different class.
  // We have 2 different quotes, so there is an animation for both of them specified in @keyframes.
  // Text was styled. Animation is set on 20s, its full animation has 25 steps, and then its ended. After that animation starting again - infinite.
  // After first animation comes reset. Text is erased, it takes 1 second.
  // Keyframe for both texts was specified. 
  .graveyard {
    clear: both;
    width: 100%;
    background-color: $bgc-fc-t;
    position: absolute;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 5% 2% 5% 2%;

    p {
      font-family: $ff-alexa;
      color: $font-c-l;
      font-size: 3rem;

      .text_1 {
        animation: text1;
      }

      .text_2 {
        animation: text2;
      }

      .text_1,
      .text_2 {
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        animation-duration: 20s;
        animation-timing-function: steps(25, end);
        animation-iteration-count: infinite;
      }

      .text_1::after,
      .text_2::after {
        content: "|";
        position: absolute;
        right: 0;
        animation: caret infinite;
        animation-duration: 1s;
        animation-timing-function: steps(1, end);
      }

      @keyframes text2 {

        0%,
        50%,
        100% {
          width: 0;
        }

        60%,
        90% {
          width: 17em;
        }
      }

      @keyframes text1 {

        0%,
        50%,
        100% {
          width: 0;
        }

        10%,
        40% {
          width: 17em;
        }
      }

      @keyframes caret {

        0%,
        100% {
          opacity: 0;
        }

        50% {
          opacity: 1;
        }
      }
    }
  }

  // CONTACT FORM

  // Every line of contact I closed in single div, to have better control on every area.
  // To every div margin top and bottom was added to make a gap between them;
  // I transformed label into block.
  // I styled textarea individual.
  // I styled button from raw <a> 
  // I used float to push block elements to left. I cleared it with button.
  .contact-form {
    .contact {
      margin: 10% 15% 5%;

      div {
        display: block;
        margin: 3% 0;

        label {
          font-size: 0.8rem;
          font-family: $ff-alexa;
          box-sizing: border-box;
          display: block;
          float: left;
          width: 20%;
        }

        input {
          width: 70%;
          padding: 2%;
          box-sizing: border-box;
          border: none;
          background-color: $bgc-light-gray;
        }
      }

      .message {
        textarea {
          width: 70%;
          height: 30%;
          resize: none;
          background-color: $bgc-light-gray;
          border: none;
        }
      }

      .submit {
        text-align: right;

        a {
          display: inline-block;
          box-sizing: border-box;
          padding: 1% 3%;
          border: none;
          border-right: 1px solid $font-c-d;
          border-bottom: 1px solid $font-c-d;
          text-decoration: none;
          text-transform: uppercase;
          background-color: $first-color;
          color: $font-c-l;
          font-family: $ff-alexa;
          margin-right: 10%;
          clear: both;
        }
      }
    }
  }

  // FOOTER

  // I transformed text into a block element to have better control on it.
  // I did use span to capitalize chosen letters.
  .footer {
    display: block;
    background-color: $where-is-nemo;
    text-align: center;
    color: $font-c-l;
    box-sizing: border-box;
    padding-bottom: 1%;

    div {
      box-sizing: content-box;
      padding: 1% 3% 0 3%;
      margin-bottom: 1%;

      p {
        display: inline-block;
        box-sizing: border-box;
        padding: 1% 3%;
        background-color: $first-color;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-family: $ff-alexa;
      }
    }

    .footer-p {
      display: block;
      font-family: $ff-alexa;
      text-transform: capitalize;
      font-size: 1rem;
    }

    .footer-m {
      display: block;
      font-family: $ff-alexa;
      font-size: 1rem;

      span {
        text-transform: capitalize;
      }

      a {
        text-decoration: none;
        color: $font-c-l;
        display: inline-block;
      }
    }

    .footer-l {
      display: block;
      box-sizing: border-box;
      margin-top: 2%;
      font-family: $ff-alexa;
      font-size: 1rem;

      a {
        text-decoration: none;
        color: $font-c-l;
      }

      span {
        text-transform: uppercase;
      }
    }
  }

  div.offer {

    // have to main divs (div.offer-header ,div.offers-footer ) which is displayed as box , header have a flex column to center items ,footer and its elements have flex to to display the items on row 
    div.offer-header {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        margin-top: 0.5rem;
        width: 95%;
      }

      h2 {
        font-size: 4vh;
        color: $font-c-g;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
      }
    }

    div.offers-footer {
      display: flex;
      margin: 5vw;
      margin-top: 3vh;

      .offerleft {
        margin-right: 4%;
      }

      .offerright {
        vertical-align: top;
      }

      div.offers-blocks {
        width: 43vw;
        margin-bottom: 1rem;

        p {
          margin-left: 5%;
        }

        div.offers-division {
          display: flex;

          img {
            padding-top: 2%;
            width: 60px;
            height: 60px;
          }

          h2 {
            text-align: left;
            color: $font-c-g;
            margin: 1rem;

            span {
              color: $font-c-d;
            }
          }
        }
      }
    }
  }

  div#qa {
    * {
      margin: 2% 7% 2% 4%;
      font-size: 17px;
      font-family: $ff-alexa;
    }

    h2 {
      color: $font-c-g;
    }

    .qacontent {
      .flexcontent {
        img {
          width: 1.5rem;
          height: 1rem;
        }
      }

      margin-top: 1rem;
    }

    .question {
      font-weight: bold;
      margin: 0;
    }

    .question:hover {
      cursor: pointer;
    }

    // overflow to control items that to big to fit into an area
    .answer {
      margin: 0;
      transition-property: height;
      transition-duration: 2s;
      overflow: hidden;
      height: 0;
      margin-left: 1.6rem;
    }

    // specifing every answer size 
    .answer-a {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-b {
      height: 3.7rem;
      margin-left: 1.6rem;
    }

    .answer-c {
      height: 7.5rem;
      margin-left: 1.6rem;
    }

    .answer-d {
      height: 3.7rem;
      margin-left: 1.6rem;
    }

    .answer-e {
      height: 3.7rem;
      margin-left: 1.6rem;
    }

    .answer-f {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-g {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-h {
      height: 1.5rem;
      margin-left: 1.6rem;
    }

    .answer-i {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-j {
      height: 3.7rem;
      margin-left: 1.6rem;
    }

    .answer-k {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-l {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-m {
      height: 3.7rem;
      margin-left: 1.6rem;
    }

    .answer-n {
      height: 3.7rem;
      margin-left: 1.6rem;
    }

    .answer-o {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-p {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-q {
      height: 1.5rem;
      margin-left: 1.6rem;
    }

    .answer-r {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-s {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-t {
      height: 1.5rem;
      margin-left: 1.6rem;
    }

    .answer-u {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .answer-v {
      height: 1.5rem;
      margin-left: 1.6rem;
    }

    .answer-w {
      height: 2.5rem;
      margin-left: 1.6rem;
    }

    .linebetween {
      background-color: $font-c-g;
      width: 85%;
      height: 1px;
    }

    img {
      width: 25px;
      height: 3vh;
      margin: 0;
      padding-right: 0.7rem;
      position: relative;
    }

    .flexcontent {
      display: flex;
      align-items: flex-start;
      margin: 0;
      position: relative;
    }

    input,
    label {
      margin: 0;
    }

    label {
      position: relative;
      display: block;
    }

    .right {
      transition: 0.5s;
    }

    .down {
      transform: rotate(90deg);
      transition: 0.5s;
      margin-top: 0.4rem;
      margin-right: 0.3rem;
      margin-left: -0.3rem;
    }
  }
}

// media query to have a responsiv with mobile and tablet and laptop to change sizes and locations of items to pass on the responsivness

@media only screen and (max-width: 425px) {
  body {
    margin: 0;

    .graveyard {
      display: none;
    }

    #cementary {
      display: block;
    }

    #menutoggle {
      top: 10px;
    }

    header.header {
      .nav-bar {

        #menu {
          padding-top: 25px;
        }

        input#input1 {
          top: -15px;
          left: 82vw;
        }

        span#span1 {
          top: -15px;
          left: 82vw;
        }

        span#span2 {
          top: -15px;
          left: 82vw;
        }

        span#span3 {
          top: -15px;
          left: 82vw;
        }

        .buttons {
          display: none;
        }

        .logo {
          margin-top: 0.2vh;
          width: 40%;
        }
      }
    }

    section.steps_container {
      .step {
        width: 45vw;
        margin: 0 1rem;
      }
    }

    div.graphic {
      margin: 2rem 0;

      div.graphic_container {
        width: 100%;

        &>* {
          margin: 0;
          width: 20%;
          font-weight: bolder;
          font-size: 0.6rem;
        }
      }
    }

    section.offering {
      h3 {
        margin-bottom: 0;
      }

      .offering_container {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        .products {
          width: 100%;
          margin: 0.5rem auto;

          .product_title {
            height: 20vw;
          }

          .product_descrip {
            p {
              text-align: justify;
              letter-spacing: 0.1rem;
            }
          }
        }
      }
    }

    section.glossary {
      width: 90%;

      .glossary_container {
        width: 100%;
        flex-direction: column;
        margin-bottom: 1rem;

        .glossary_list {
          width: 100%;

          .gloss_item {
            letter-spacing: 0.05rem;
          }
        }
      }
    }

    section.links {
      width: 90%;

      .links_container {
        width: 100%;
        flex-direction: column;
        margin-bottom: 1rem;

        .links_list {
          width: 100%;

          h3 {
            margin-top: 2rem;
          }

          .links_item {
            a {
              padding: 0;
              font-size: smaller;
            }
          }
        }
      }
    }

    div.offer {
      div.offers-footer {
        display: block;

        div.offerleft {
          display: block;
        }

        div.offerright {
          display: block;
        }

        div.offers-blocks {
          margin-bottom: 0.5rem;
          width: auto;
        }

        div.offers-blocks {
          width: 90vw;
        }
      }
    }

    div#qa {
      .answer-a {
        height: 6.2rem;
      }

      .answer-b {
        height: 8.7rem;
      }

      .answer-c {
        height: 17.5rem;
      }

      .answer-d {
        height: 8.7rem;
      }

      .answer-e {
        height: 10rem;
      }

      .answer-f {
        height: 5rem;
      }

      .answer-g {
        height: 3.5rem;
      }

      .answer-h {
        height: 3.5rem;
      }

      .answer-i {
        height: 7.3rem;
      }

      .answer-j {
        height: 3.5rem;
      }

      .answer-k {
        height: 6.2rem;
      }

      .answer-l {
        height: 5rem;
      }

      .answer-m {
        height: 8.7rem;
      }

      .answer-n {
        height: 8.7rem;
      }

      .answer-o {
        height: 6.2rem;
      }

      .answer-p {
        height: 7.3rem;
      }

      .answer-q {
        height: 2.2rem;
      }

      .answer-r {
        height: 6.2rem;
      }

      .answer-s {
        height: 6.2rem;
      }

      .answer-t {
        height: 2.2rem;
      }

      .answer-u {
        height: 5rem;
      }

      .answer-v {
        height: 3.5rem;
      }

      .answer-w {
        height: 5rem;
      }
    }
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  body {
    header.header {
      .graveyard {
        display: none;
      }

      div#menutoggle {
        top: 10px;


      }

      .nav-bar {
        #menu {
          padding-top: 50px;
        }

        .buttons {
          display: none;
        }

        .logo {
          margin-top: 0.5vh;
          width: 25%;
        }
      }
    }

    section.steps_container {
      .step {
        width: 40vw;
        margin: 0 1rem;
      }
    }

    div.graphic {
      div.graphic_container {
        width: 95%;
        margin: 0 auto;

        &>* {
          padding: 0.2rem;
          margin: 0;
          font-size: 0.9rem;
        }
      }
    }

    section.offering {
      .offering_container {
        padding: 1rem;

        .products {
          width: 28vw;
        }
      }
    }

    section.links {
      .links_container {
        .links_list {
          .links_item {
            a {
              padding: 0.1rem;
              font-size: medium;
            }
          }
        }
      }
    }

    section.steps_container {
      .step {
        width: 40vw;
        margin: 0 2rem;
        font-size: larger;

        p {
          font-size: 1.3rem;
        }
      }
    }

    div.graphic {
      div.graphic_container {
        width: 95%;
        margin: 0 auto;

        &>* {
          font-size: 1.3rem;
        }
      }
    }

    section.offering {
      h3 {
        font-size: 1.5rem;
      }

      .offering_container {
        padding: 1rem;

        .products {
          width: 28vw;

          .product_title {
            font-size: 1.5rem;
          }

          .product_descrip {
            height: 95%;

            p {
              line-height: 1.5rem;
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    section.glossary {
      width: 85vw;

      .glossary_container {
        .glossary_list {
          width: 48%;

          .gloss_item {
            h3 {
              font-size: 1.4rem;
            }

            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    section.links {
      width: 85%;

      .links_container {
        .links_list {
          width: 48%;

          h3 {
            font-size: 1.5rem;
          }

          .links_item {
            font-size: 1.3rem;

            p {
              line-height: 1.3rem;
            }
          }
        }
      }
    }

    div#qa {
      .answer-a {
        height: 3.7rem;
      }

      .answer-b {
        height: 4.8rem;
      }

      .answer-c {
        height: 10rem;
      }

      .answer-d {
        height: 4.8rem;
      }

      .answer-e {
        height: 4.8rem;
      }

      .answer-f {
        height: 2.5rem;
      }

      .answer-g {
        height: 2.5rem;
      }

      .answer-h {
        height: 2.5rem;
      }

      .answer-i {
        height: 3.7rem;
      }

      .answer-j {
        height: 4.8rem;
      }

      .answer-k {
        height: 3.7rem
      }

      .answer-l {
        height: 3.7rem
      }

      .answer-m {
        height: 4.8rem;
      }

      .answer-n {
        height: 4.8rem;
        ;
      }

      .answer-o {
        height: 3.7rem
      }

      .answer-p {
        height: 3.7rem
      }

      .answer-q {
        height: 1.2rem;
      }

      .answer-r {
        height: 3.7rem
      }

      .answer-s {
        height: 3.7rem
      }

      .answer-t {
        height: 1.2rem;
      }

      .answer-u {
        height: 2.5rem;
      }

      .answer-v {
        height: 2.5rem;
      }

      .answer-w {
        height: 3.7rem
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  body {
    header.header {
      #cementary {
        display: none;
      }

      .nav-bar {
        #menuToggle {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    header.header {
      #cementary {
        display: none;
      }

      .nav-bar {
        #menu {
          padding-top: 50px;
        }

        .buttons {
          display: none;
        }
      }
    }
  }
}